/*base*/
html, body, div, span, a {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body, div {
    -webkit-text-size-adjust: none;
}

html, body {
	width: 100%;
    height: 100%;
}

body {
    font-family: tahoma,"microsoft yahei",arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

/*index*/
.ui-content {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 600px;
	margin: 0 auto;
	background: #0074EB url(../img/bg_index.jpg) no-repeat 0%;
	background-size: 100% 100%;
}

.ui-intro {
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	box-align: center;
	box-pack: center;
	width: 100%;
	height: 60%;
}

.ui-intro-item {
	width: 300px;
	height: 300px;
}

.ui-btn-layout {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 100%;
}

.ui-btn {
	display: inline-block;
	color: #fff;
	width: 86%;
	height: 45px;
	line-height: 45px;
	border-radius: 4px;
	background-color: #18d3a8;
	/*-webkit-box-shadow: 0px 2px 1px #12a988;
	box-shadow: 0px 2px 1px #12a988;*/
}

@keyframes fadeInOut1 {
	0% {
        opacity:0;
    }
    25% {
        opacity:1;
    }
  	60% {
        opacity:1;    
    }
    75% {
        opacity:0;    
    }
}

@keyframes fadeInOut2 {
	0% {
        opacity:0;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;    
    }
    65% {
        opacity:0;    
    } 
}

@keyframes fadeInOut3 {
	0% {
        opacity:0;
    }
    25% {
        opacity:0;
    }
    60% {
        opacity:1;    
    }
}

@-webkit-keyframes fadeInOut1 {
	0% {
        opacity:0;
    }
    25% {
        opacity:1;
    }
  	60% {
        opacity:1;    
    }
    75% {
        opacity:0;    
    }
}

@-webkit-keyframes fadeInOut2 {
	0% {
        opacity:0;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:1;    
    }
    65% {
        opacity:0;    
    } 
}

@-webkit-keyframes fadeInOut3 {
	0% {
        opacity:0;
    }
    25% {
        opacity:0;
    }
    60% {
        opacity:1;    
    }
}

.animate-fade {
	position: absolute;
	width: 80%;
	height: 50%;
	margin: 10%;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.animate-fade-one {
	opacity:0;
	-webkit-animation-name: fadeInOut1;
    -webkit-animation-duration: 3s;
    animation-name: fadeInOut1;
    animation-duration: 3s;
    background: url(../img/intro_one.png) no-repeat 50%;
    background-size: 80%;
}

.animate-fade-two {
	opacity:0;
	-webkit-animation-name: fadeInOut2;
    -webkit-animation-duration: 8s;
    animation-name: fadeInOut2;
    animation-duration: 8s;
    background: url(../img/intro_two.png) no-repeat 50%;
    background-size: 80%;
}

.animate-fade-three {
	-webkit-animation-name: fadeInOut3;
    -webkit-animation-duration: 16s;
    animation-name: fadeInOut3;
    animation-duration: 16s;
    background: url(../img/intro_three.png) no-repeat 50%;
    background-size: 60%;
}

